* {
    font-family: "ORF ON","Arial","Helvetica","Lucida Sans Unicode","Lucida Grande","sans-serif";
    font-feature-settings: "liga", "kern";
}
.navigation {
    background-color: rgb(171, 0, 0);
    width: 100vw;
    height: 5vh;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navigationList {
    width: 81vw;
    display: flex;
    justify-content: space-between;
}
.navigationText {
    margin-right: 2%;
    margin-left: 2%;
}
li {
    display: inline-block;
    margin-left: 2%;
}
li:hover {
    text-decoration: underline;
}
.media {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: rgba(88, 0, 0, 0.866);
    width: 100vw;
    height: 5vh;
}
.mediaList {
    width: 80%;
    display: flex;
    justify-content: space-between;
    padding-left: 5%;
    font-size: large;
}
.mediaSymbol {
    background-image: url("bellSymbol.jpg");
    background-repeat: no-repeat;
    background-color: rgb(208, 0, 0);
}
.logo {
    background-image: url("orf_logo.svg");
    background-repeat: no-repeat;
    background-position-x: 10vw;
    background-color: rgb(208, 0, 0);
    color: white;
    display: flex;
    align-items: center;
    padding-left: 2vw;
    width: 100vw;
    height: 12vh;
    border-bottom: 10px;
    border-style: solid;
    border-color: rgb(255, 22, 22);
    font-size: xx-large;
}
.textImage {
    background-image: url("orf_b1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 60vh;
}
.content {
    background-color: white;
    border-color: lightgray;
    border-width: 2px;
    border-style: solid;
    width: 80vw;
    height: 200vh;
    padding: 2%;
    margin: 8%;
    position: relative;
    top: -30vh;
}
h1 {
    font-size: xx-large;
    font-weight: bold;
    margin-bottom: 8px;
}
.textTag {
    color: lightgrey;
    margin-bottom: 10px;
    text-transform: uppercase;
}